
 $maincolor:#dac0a3;
 $secondrycolor: #102c57;
$In_color: #4F709C ;
:export {
  mainColor: $maincolor;
  secondryColor:  $secondrycolor;
}
html { scroll-behavior: smooth;}
body {
  background-color: white;
  color: white;
  display: flex;
  flex-flow: column wrap;
  font-family: Arial, Helvetica, sans-serif;
  
}

.firstComponent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  min-height: 95vh;
  max-width:100%;
  button:hover {
    cursor: pointer;
  }
  a:hover {
    cursor: default;
  }
}
.navbar {
  display: flex;
  max-width: 80%;
  font-size: 30px;
  color:  $maincolor;
  flex-wrap: nowrap;
  margin: auto;
  justify-content: space-between;
  font-weight:lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.navwrap {
  background-color:#102c57;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
}

.headList {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-self: center;
  overflow: hidden;
  font-size: 20px;

  a {
    text-decoration: none;
    color: white;
    font-weight: 3px;
  }
}
.roundButton {
  background-color: #f8de22;
  font-weight: 700;
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 20px;
}

.icon{
  margin-top: 20px;
}
.identification {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 80vw;
  min-height: 80vh;
  align-self: center;
  margin-top: 80px;
  background-color:#e8f4f8;
  color:  $maincolor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 80px;
  p {
    margin: 5px;
  }
  .hello
  {
    margin-top: 30px;
  }
  .roundButton
  {
    background-color: white;
    color:  $maincolor;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
  }
}

.secondComponent {
  max-width: 100%;
  min-height: 95vh;
  background-color: white;
  color:#dac0a3 ;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  
}
.services {
  font-size: 80px;
  align-self: center;
  font-family: 'Trebuchet MS', sans-serif;
  &:before {
    font-size: 30px;
    content: "_________________________";
    color:  $maincolor;
    position: relative;
    top: -30px;
    right: -45px;
    left: -45px;
    @media (max-width: 1400px) {
      display: none;
    }
  }
  &:after {
    font-size: 30px;
    content: "_________________________";
    color:  $maincolor;
    position: relative;
    top: -30px;
    right: -45px;
    @media (max-width: 1400px) {
      display: none;
    }
  }
}



.skills {
  display: flex;
  justify-content: space-around;
  flex-flow:row wrap;
  margin-bottom: 70px;

  div {
    width: 60vh;
    min-height: 40vh;
    background-color: white;
    color:  $maincolor;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
    border:  $maincolor;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    p {
      font-size: 40px;
    }

    img {
      max-width: 50%;
      height: auto;
      padding: 10px;
    }
  }
}

.rec {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: 'Trebuchet MS', sans-serif;
  color:#dac0a3 ;
  &:before {
    font-size: 30px;
    content: "_________________________";
    color:  $maincolor;
    position: relative;
    top: -10px;
    right: -45px;
    left: -45px;
    @media (max-width: 1400px) {
      display: none;
    }
  }
  &:after {
    font-size: 30px;
    content: "_________________________";
    color:  $maincolor;
    position: relative;
    top: -10px;
    right: -45px;
    @media (max-width: 1400px) {
      display: none;
    }
  }
}

.thirdComponent {
  background-color: white;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  img {
    max-width: 60px;
  }
  .table {
    max-width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
  
  }
  .recwrap{
    min-width: 300px;
    max-width: 25vw;
    min-height: 25vw;
    margin: 20px;
    display: flex;
    flex-flow: wrap column;
    padding: 1%;
    font-size: 30px;
    background-color: white;
    color:  $maincolor;
    border-style: solid ;
    border-color:  $maincolor ;
    font-family: sans-serif;
    .credits {
        display: flex;
        flex-flow:row wrap;
        font-size: 20px;
    }
  }
}

.fourthComponent {
  display: flex;
  flex-flow:wrap column;
  justify-content: space-around;
  min-height: 95vh;
  
  .roundButton {
    background-color: $In_color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 5px;
  }
  .roundButtonwrapper {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 30vw;
    justify-content: space-around;
    .roundButton{
      color: white;
      background-color:  $maincolor;
    }
  }
}
.pro {
  align-self: center;
  font-size: 80px;
  font-family: 'Trebuchet MS', sans-serif;
  color:  $maincolor;
  &:before {
    font-size: 30px;
    content: "_________________________";
    color:  $maincolor;
    position: relative;
    top: -30px;
    right: -45px;
    left: -45px;
    @media (max-width: 1400px) {
      display: none;
    }
  }
  &:after {
    font-size: 30px;
    content: "_________________________";
    color:  $maincolor;
    position: relative;
    top: -30px;
    right: -45px;
    @media (max-width: 1400px) {
      display: none;
    }
    }
}
.projectsTable {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px;
 
}

.project {
  background-color: white;
  color:  $maincolor;
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-style: solid;
  border-color:  $maincolor;
  margin: 10px;

 
  &:hover
  {
    animation: 1s ease infinite pulse;
    border-color: $secondrycolor;
    transition: all 1s ease;
  }

  p {
    font-size: 30px;
    margin-left:10px;
  }
  img {
    max-width: 240px;
    margin: 20px;
  }
  .git {
    width: 40px;
    margin-top: 25px;
    margin-left: 20px;
  }
}

.fifthComponent {
  display: flex;
  flex-flow: column wrap;
  background-color:  $secondrycolor;
  justify-content: space-around;
  font-size: 50px;
  max-width: 100%;
  min-height: 95vh;
  .contactsTitle {
    align-self: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 80px;

  }
 
  .contacts {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    min-height: 10vh;
    align-self: center;
 
    a{
      margin: 10px 40px 10px 40px;
      color: white;
    }
  }
  .conwrap{
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    align-self: center;
  }
}

.selected {
  border-color:  $secondrycolor;
  border-style: solid;
}

@media (max-width: 1200px) {
  .headList {
    display: none;
  }
  .navbar
  {
    justify-content: center;
  }
}
.dark{
  background-color: #102c57;
  color: white;
  transition: all 1s ease;
 
  .title{
    color:  $maincolor;
  }
}
.light{
  background-color: #dac0a3;
  color: white;
  transition: all 1s ease;
 
  .title{
    color: white;
  }
}